<%= render "devise/shared/top_header" %>

<div class ="top-main">
  <div class="top-wrap">
    <h1 class="top-contents">
      <span class="expalanation-title">Body make-up</span>
    </h1>
    <h2 class="sub-title">
      <span class="expalanation-sub-title">自分のサイズを細かく管理できるアプリ</span>
    </h2>

    <h3 class="form-contents">
      <span class="expalanation-text">入力項目がたくさん！</span>
    </h3>
    <h3 class="form-sub-contents">
      <span class="expalanation-sub-text">体重以外は好きな項目のみの入力でOK</span>
    </h3>

    <div class="form-image">
      <%= image_tag 'form1.png', class:'form_new' %>
      <%= image_tag 'form2.png', class:'form_new' %>
    </div>

    <h4 class="sub-text">
      <span class="expalanation-text">表とグラフで日々の記録を確認</span>
    </h4>

    <div class="form-image">
      <%= image_tag 'table.png', class:'form_report' %>
      <%= image_tag 'graph.png', class:'form_report' %>
    </div>
    
    <div class="list-question">
      <ul class="top-lists">
        <li>既存のアプリの、体重と体脂肪のみの入力に不満を感じている方</li>
        <li>見た目にコミットしてダイエットしたい方</li>
      </ul>
    </div>

    <h4 class="intro-contents">
      <span class="expalanation-text">ぜひご利用ください！</span>
    </h4>
    <div class='register-btn'>
      <%= link_to '新規登録', new_user_registration_path, class:"brown-btn" %>
    </div>
  </div>
</div>

<%= render "devise/shared/top_footer"%>