<%= render "devise/shared/top_header" %>

<div class ="top-main">
  <div class="top-wrap">
    <div class="top-contents">
      <span class="expalanation-title">Body make-up</span>
      <span class="expalanation-sub-title">自分のサイズを細かく管理できるアプリ</span>
    </div>

    <div class="form-contents">
      <span class="expalanation-text">入力項目がたくさん！</span>
      <span class="expalanation-sub-text">体重以外は好きな項目のみの入力でOK</span>
    </div>

    <div class="form-image">
      <%= image_tag 'form1.png', class:'form-new' %>
      <%= image_tag 'form2.png', class:'form-new' %>
    </div>

    <div class="inside-contents">
      <span class="expalanation-text">表とグラフで日々の記録を確認</span>
    </div>

    <div class="record-image">
      <%= image_tag 'table.png', class:'table-sample' %>
      <%= image_tag 'graph.png', class:'graph-sample' %>
    </div>
    
    <div class="list-question">
      <ul class="top-lists">
        <li>既存のアプリの、体重と体脂肪のみの入力に不満を感じている方</li>
        <li>見た目にコミットしてダイエットしたい方</li>
      </ul>
    </div>

    <div class="intro-contents">
      <span class="expalanation-text">ぜひご利用ください！</span>
    </div>
    <div class='register-btn'>
      <%= link_to '新規登録', new_user_registration_path, class:"brown-btn" %>
    </div>
  </div>
</div>

<%= render "devise/shared/top_footer"%>