<%= render "devise/shared/header" %>

<div class='report-contents'>
  <div class='report-show'>
    
    <div class='img-content'>
      <%= image_tag @report.image ,class:"report-img" %>
    </div>

    <% if current_user.id == @report.user_id %>
    <div class="edit-btn-contents">
      <%= link_to "編集", edit_report_path(@report.id), method: :get, class: "register-brown-btn" %>
      <%= link_to "削除", report_path(@report.id), method: :delete, class:"back-btn" %>
    </div>
    <% end %>


    <table class="report-table">
      <tbody>
        <tr class="detail-report">
          <th class="detail-unit">登録日</th>
          <td class="detail-value"><%= @report.registration_date %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">体重</th>
          <td class="detail-value"><%= @report.body_weight %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">体脂肪</th>
          <td class="detail-value"><%= @report.body_fat %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">バスト</th>
          <td class="detail-value"><%= @report.body_bust %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">二の腕</th>
          <td class="detail-value"><%= @report.body_arm %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">ウエスト</th>
          <td class="detail-value"><%= @report.body_west %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">下腹</th>
          <td class="detail-value"><%= @report.body_belly %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">ヒップ</th>
          <td class="detail-value"><%= @report.body_hip %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">太もも</th>
          <td class="detail-value"><%= @report.body_thigh %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">ふくらはぎ</th>
          <td class="detail-value"><%= @report.body_calf %></td>
        </tr>
        <tr class="detail-report">
          <th class="detail-unit">足首</th>
          <td class="detail-value"><%= @report.body_ankle %></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<%= render "devise/shared/footer" %>